[flake8]
max-line-length=120
exclude =
        *.pyc
        venv
        *.js
        *.kt
        *.cpp
        *.c
        *.h
        ./mpc
ignore =
       E741,
       F405,
       W503,
       E203
per-file-ignores =
       */__init__.py: F401
